* {
  margin: 0;
  padding: 0;
}

/* NAVIGATION BAR */
ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

li a:hover:not(.active) {
  background-color: #111;
}
/* ORDER FORM index_buy.html */
#ticketFormHeader {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.content {
  font-size: 18px;
  text-align: center;
  position: relative;
}

.inner-container {
  width: 40%;
  margin: auto;
  height: auto;
  text-align: left;
}

input[type="text"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}

input[type="number"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}

input[type="checkbox"] {
  color: black;
}

select {
  border: none;
  border-bottom: 1px solid black;
}

label {
  width: 40%;
}

.label {
  color: black;
}

.error {
  color: white;
  font-size: 18px;
  text-align: center;
  font-family: monospace;
  background-color: #ed213a;
}

.error label {
  color: white;
}

.orderButton {
  background-color: #3399ff;
  border: none;
  color: white;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
}

.orderButton {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.orderButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* IMAGE SLIDER */
body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  text-align: center;
}

.container {
  width: 540px;
  margin: 40px auto;
  overflow: auto;
}

.slider-inner {
  width: 500px;
  height: 300px;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 3px;
}

.slider-inner img {
  display: none;
  width: 500px;
  height: 300px;
}

.slider-inner img.active {
  display: inline-block;
}

.prev,
.next {
  float: left;
  margin-top: 130px;
  cursor: pointer;
}

.prev {
  position: relative;
  margin-right: -45px;
  z-index: 100;
}

.next {
  position: relative;
  margin-left: -45px;
  z-index: 100;
}

/* UPCOMING */
#UpcomingTxt {
  color: black;
}

:root {
  --contentHeight: 30vh;
  --sectionWidth: 700px;
}

* {
  outline: 0;
  box-sizing: border-box;
}

section {
  max-width: var(--sectionWidth);
  margin: 40px auto;
  width: 97%;
  color: black;
}

summary {
  display: block;
  cursor: pointer;
  padding: 10px;
  font-family: "Space Mono", monospace;
  font-size: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 2px solid;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

details > div {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 20px;
  font-family: "Karla", sans-serif;
  line-height: 1.5;
}

details > div > img {
  align-self: flex-start;
  max-width: 100%;
  margin-top: 20px;
}

details > div > p {
  -webkit-box-flex: 1;
  flex: 1;
}

details[open] > summary {
  color: #ed213a;
}

@media (min-width: 768px) {
  details[open] > div > p {
    opacity: 0;
    -webkit-animation-name: showContent;
    animation-name: showContent;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    margin: 0;
    padding-left: 20px;
  }

  details[open] > div {
    -webkit-animation-name: slideDown;
    animation-name: slideDown;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  details[open] > div > img {
    opacity: 0;
    height: 100%;
    margin: 0;
    -webkit-animation-name: showImage;
    animation-name: showImage;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}
@-webkit-keyframes slideDown {
  from {
    opacity: 0;
    height: 0;
    padding: 0;
  }
  to {
    opacity: 1;
    height: var(--contentHeight);
    padding: 20px;
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    height: 0;
    padding: 0;
  }
  to {
    opacity: 1;
    height: var(--contentHeight);
    padding: 20px;
  }
}
@-webkit-keyframes showImage {
  from {
    opacity: 0;
    -webkit-clip-path: inset(50% 0 50% 0);
    clip-path: inset(50% 0 50% 0);
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }
  to {
    opacity: 1;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}
@keyframes showImage {
  from {
    opacity: 0;
    -webkit-clip-path: inset(50% 0 50% 0);
    clip-path: inset(50% 0 50% 0);
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
  }
}
@-webkit-keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.eventBtn {
  border: none;
  color: white;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  background-color: #3399ff;
}

.footer {
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  padding: 1rem;
  text-align: center;
  background-color: #333;
}

@media only screen and (max-width: 800px) {
  /* DROP DOWN MENU FOR WIDTH UNDER 800px */

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    text-align: left;
    width: 100%;
    float: left;
  }

  li a,
  .dropBtn {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }
}
