* {
  margin: 0;
  padding: 0;
}

/* NAVIGATION BAR */
ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4caf50;
}

/* HEADER MERCH STORE */
#MerchStore {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* ITEM GRID */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.shop-item-price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #3399ff;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.row {
  display: flex;
}

.card {
  flex: 33.33%;
  padding: 5px;
}

#buyBtn {
  background-color: #3399ff;
  border: none;
  color: white;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  transition-duration: 0.4s;
}

.cart-item,
.cart-total-price {
  font-size: 18px;
  font-family: monospace;
}

.section-header {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
}

.footer {
  display: inline-block;
  width: 98.3%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: white;
  background-color: #333;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  /* DROP DOWN MENU FOR WIDTH UNDER 800px */

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    text-align: left;
    width: 100%;
    float: left;
  }

  li a,
  .dropBtn {
    display: block;
    color: white;
    text-align: left;
    padding: 7px 8px;
    text-decoration: none;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100px;
    height: 230px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .shop-item-price {
    color: grey;
    font-size: 22px;
  }

  .card button {
    border: none;
    outline: 0;
    padding: 6px;
    color: white;
    background-color: #3399ff;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 10px;
  }

  .card button:hover {
    opacity: 0.7;
  }

  .row {
    display: inline-flex;
    width: 550px;
  }

  .card {
    flex: 33.33;
    padding: 5px;
  }
}

@media only screen and (max-width: 800px) {
  /* DROP DOWN MENU FOR WIDTH UNDER 800px */

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    text-align: left;
    width: 100%;
    float: left;
  }

  li a,
  .dropBtn {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }
}
